/*
Theme Name: Discovery
Theme URI: http://www.templateexpress.com/discovery-theme/
Author: Ossie Heffell
Author URI: http://www.templateexpress.com/
Description: Discovery is a highly customizable, fully responsive and free WordPress Theme. With a focus on simple customization, Discovery allows you to add your own logo, header, featured areas, social media links and much more with a click of a button. This multi-purpose theme has a premium quality design that can fit the needs of any website.
Version: 1.9
License: GNU General Public License v2.0
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: light, white, one-column, two-columns, right-sidebar, fluid-layout, custom-header, custom-menu, featured-images, flexible-header, microformats, post-formats, rtl-language-support, threaded-comments, translation-ready, theme-options, full-width-template, black, responsive-layout, blue, left-sidebar

This theme, like WordPress, is licensed under the GPL.

Resetting and rebuilding styles have been helped along thanks to the fine work of
Eric Meyer http://meyerweb.com/eric/tools/css/reset/index.html
along with Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
and Blueprint http://www.blueprintcss.org/
*/

/*
discovery Theme based on Underscores (_s) Theme
_s ("Underscores") WordPress Theme, Copyright 2012 Automattic, Inc.
_s ("Underscores") WordPress Theme is distributed under the terms of the GNU GPL
*

/*
discovery WordPress Theme, Copyright 2014 Ossie Heffell
discovery Theme is distributed under the terms of the GNU GPL
*/

/* =Reset
-------------------------------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
}
html {
	font-size: 62.5%; /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */
	overflow-y: scroll; /* Keeps page centred in all browsers regardless of content height */
	-webkit-text-size-adjust: 100%; /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
	-ms-text-size-adjust: 100%; /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
}
body {
	background: #666;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
	display: block;
}
ol, ul {
	list-style: none;
}
table { /* tables still need 'cellspacing="0"' in the markup */
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	font-weight: normal;
	text-align: left;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
a:focus {
	outline: thin dotted;
}
a:hover,
a:active { /* Improves readability when focused and also mouse hovered in all browsers people.opera.com/patrickl/experiments/keyboard/test */
	outline: 0;
}
a img {
	border: 0;
}


/* =Global
----------------------------------------------- */

body,
button,
input,
select,
textarea {
	color: #747474;	
	font-family: 'open_sansregular', Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-size: 1.4rem;
	line-height: 1.9;
}

body {
	background: #EEE;
}

/* Headings */
h1,h2,h3,h4,h5,h6 {
	clear: both;
	margin: 0.6em 0;
}
h1 {
	font-size: 28px;
	font-size: 2.8rem;
}
h2 {
	font-size: 22px;
	font-size: 2.2rem;
}
h3 {
	font-size: 16px;
	font-size: 1.6rem;
}
h4 {
	font-size: 14px;
	font-size: 1.4rem;
}
h5 {
	font-size: 12px;
	font-size: 1.2rem;
}
h6 {
	font-size: 10px;
	font-size: 1rem;
}
hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

/* Text elements */
p {
	margin-bottom: 1.5em;
}
ul, ol {
	margin: 0 0 1.5em 0.5em;
}
ul {
	list-style: none;
}
ol {
	list-style: decimal;
}
ul ul, ol ol, ul ol, ol ul {
	margin-bottom: 0;
	margin-left: 1.5em;
}
dt {
	font-weight: bold;
}
dd {
	margin: 0 1.5em 1.5em;
}
b, strong {
	font-weight: bold;
}
dfn, cite, em, i {
	font-style: normal;
}
blockquote {
	font-style: italic;
	margin: 0 1.5em;
}
address {
	margin: 0 0 1.5em;
}
pre {
	background: #dfd6c7;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 1.5rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	padding: 1.6em;
	overflow: auto;
	max-width: 100%;
}
code, kbd, tt, var {
	font: 15px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}
abbr, acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}
mark, ins {
	background: #fff9c0;
	text-decoration: none;
}
sup,
sub {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}
small {
	font-size: 75%;
}
big {
	font-size: 125%;
}
figure {
	margin: 0;
}
table {
	margin: 0 0 1.5em;
	width: 100%;
}
th {
	font-weight: bold;
}
button,
input,
select,
textarea {
	font-size: 100%; /* Corrects font size not being inherited in all browsers */
	margin: 0; /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
	vertical-align: baseline; /* Improves appearance and consistency in all browsers */
	*vertical-align: middle; /* Improves appearance and consistency in all browsers */
}
button,
input {
	line-height: normal; /* Addresses FF3/4 setting line-height using !important in the UA stylesheet */
	*overflow: visible;  /* Corrects inner spacing displayed oddly in IE6/7 */
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid #ccc;
	border-color: #ccc #ccc #bbb #ccc;
	border-radius: 3px;
	background: #e6e6e6;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.5), inset 0 15px 17px rgba(255,255,255,0.5), inset 0 -5px 12px rgba(0,0,0,0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.5), inset 0 15px 17px rgba(255,255,255,0.5), inset 0 -5px 12px rgba(0,0,0,0.05);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.5), inset 0 15px 17px rgba(255,255,255,0.5), inset 0 -5px 12px rgba(0,0,0,0.05);
	color: rgba(0,0,0,.8);
	cursor: pointer; /* Improves usability and consistency of cursor style between image-type 'input' and others */
	-webkit-appearance: button; /* Corrects inability to style clickable 'input' types in iOS */
	font-size: 12px;
	font-size: 1.4rem;
	line-height: 1;
	padding: 0.8em;
	text-shadow: 0 1px 0 rgba(255,255,255,.8);
}
button:hover,
html input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	border-color: #ccc #bbb #aaa #bbb;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.8), inset 0 15px 17px rgba(255,255,255,0.8), inset 0 -5px 12px rgba(0,0,0,0.02);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.8), inset 0 15px 17px rgba(255,255,255,0.8), inset 0 -5px 12px rgba(0,0,0,0.02);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.8), inset 0 15px 17px rgba(255,255,255,0.8), inset 0 -5px 12px rgba(0,0,0,0.02);
}
button:focus,
html input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
html input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
	border-color: #aaa #bbb #bbb #bbb;
	-webkit-box-shadow: inset 0 -1px 0 rgba(255,255,255,0.5), inset 0 2px 5px rgba(0,0,0,0.15);
	-moz-box-shadow: inset 0 -1px 0 rgba(255,255,255,0.5), inset 0 2px 5px rgba(0,0,0,0.15);
	box-shadow: inset 0 -1px 0 rgba(255,255,255,0.5), inset 0 2px 5px rgba(0,0,0,0.15);
}
input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box; /* Addresses box sizing set to content-box in IE8/9 */
	padding: 0; /* Addresses excess padding in IE8/9 */
}
input[type="search"] {
	-webkit-appearance: textfield; /* Addresses appearance set to searchfield in S5, Chrome */
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box; /* Addresses box sizing set to border-box in S5, Chrome (include -moz to future-proof) */
	box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration { /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
	-webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner { /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
	border: 0;
	padding: 0;
}
input[type=text],
input[type=email],
textarea {
	background: rgba( 255, 255, 255, 0.3 );
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 6px;
}
input[type=text]:focus,
input[type=email]:focus,
textarea:focus {
	background: #fff;
}
textarea {
	overflow: auto; /* Removes default vertical scrollbar in IE6/7/8/9 */
	padding-left: 3px;
	vertical-align: top; /* Improves readability and alignment in all browsers */
	width: 98%;
}

/* Links */
a,
a:visited {
	color: #666;
	text-decoration: none;
	transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
}
a:hover{
	color: #999;
}
a:focus,
a:active {
	color: #666;
}

/* Alignment */
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
	margin-bottom: 1em;
}
.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
	margin-bottom: 1em;
}
.aligncenter {
	clear: both;
	display: block;
	margin: 1.5em auto;
}

/* Text meant only for screen readers */
.assistive-text {
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
}

.more-link {
	font-size: 10px;
	font-size: 1rem;
	font-family: 'open_sansbold', sans-serif;
	text-transform: uppercase;
	float: right;
	margin-top: 30px;
	background-color: #49a7a4;
	color: #FFF;
	border-radius: 0.2em;
	padding: 4px 8px;
	clear: both;
}
a.more-link {
	color: #FFF;
}
a.more-link:hover {
	background-color: #3C4044;
}
.widget h4{
	color: #FFF;
	padding: 4px;
	border-radius:0.2em;
	border-bottom: 1px solid #555;
	font-size: 14px;
	font-size: 1.4rem;
	font-family: 'open_sansbold', sans-serif;
	text-transform: uppercase;
}

.widget li{
	padding-bottom: 5px;
	padding-top: 5px;
	border-bottom: 1px solid #555;
}

.widget li a{
	color: #AAA;
}

.widget li a:hover{
	color: #999;
}

#calendar_wrap{
	padding-left: 6px;
}

#calendar_wrap a{
	color: #FFF;
}

#calendar_wrap a:hover{
	color: #CCC;
}

.textwidget{
	padding-left: 6px;
}
#secondary li, #tertiary li{
	padding-bottom: 5px;
	padding-top: 5px;
	border-bottom: 1px solid #EFEFEF;
	color: #999;
	font-size: 13px;
}

#secondary li a{
	color: #49a7a4;
}
#secondary li a:hover{
	color: #000;
}

#tertiary li a{
	color: #666;
}

#tertiary li a:hover{
	color: #000;
}
#sidebar-left li a{
	color: #49a7a4;
}
#sidebar-left li a:hover{
	color: #000;
}
#sidebar-left li{
	border-bottom: 1px solid #EFEFEF;
}
#sidebar-left h4{
	font-family: inherit;
}

/* =Structure
----------------------------------------------- */

#wrap {
	margin: 20px auto;
	padding: 0;
	position: relative;
	max-width: 1040px;
	background-color: #FFF;
	-webkit-box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.40);
	-moz-box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.40);
	box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.40);
	border-top: 6px solid #49a7a4;
}
#topbar_container {
	margin: 0 auto;
	clear: both;
	float: right;
}
.topbar {
	margin: 0 auto;
	padding: 38px 20px 0 0;
}
.topbar_content_left {
	font-size: 16px;
	font-size: 1.6rem;
	color: #666;
	text-transform: uppercase;
	text-align: right;
}
.topbar_content_left:before {
	content: '\f437';
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	font: normal 20px/1 'Genericons';
	vertical-align: middle;
	padding-bottom: 3px;
	color: #49a7a4;
}
.topbar_content_left a{
	color: #666;
}
.topbar_content_right {
	text-align:right;
	padding-top: 2px;
}
.header_container {
	background: #FFF;
	margin: 0 auto;
	max-width: 1040px;
}
.main-navigation,
.site-title,
.site-description {
    margin: 0 auto;
	max-width: 1040px;
}
#main {
	clear: both;
    overflow: hidden;
}
#primary {
	float: left;
	margin: 0 -27% 0 0;
	width: 94%;
	padding: 10px;
}
#content {
	margin: 0 22% 0 0;
}
#primary_home {
	margin: 0 auto;
	max-width: 1040px;
}
#primary_wrap {
	margin: 0 auto;
	max-width: 1040px;
	padding: 0 16px;
}
#content.fullwidth {
	margin-right: 0;
	padding: 20px;
}
#content.fullwidth_home {
	margin-right: 0;
	padding: 0;
}
#secondary,
#tertiary {
	background: #FFF;
   	float: right;
   	margin: 0 0.2em 0.4em;
    padding: 0.6em 1em 0;
    position: relative;
    width: 20%;
	border-radius:0.2em;
}
#tertiary {
	clear: right;
	padding-top: 0;
}
#primary-right {
	float: right;
	margin: 0 0 0 -27%;
	padding: 0.7em;
	width: 98.2%;
}

#content-right {
	margin: 0 0 0 27%;
}
#sidebar-left {
	background: #FFF;
   	float: left;
   	margin: 0.4em 0.2em 0.4em;
    padding: 0;
    position: relative;
    width: 22%;
	border-radius:0.4em;
}
#tertiary-left {
	clear: left;
	padding-top: 0;
}
.site-footer {
	clear: both;
	margin: 0 auto;
	background-color: #3C4044;
}
.footer_container {
	background: #3C4044;
	margin: 0 auto;
	max-width: 1040px;
	padding: 20px;
	color: #FFF;
}

/* =Site Header
----------------------------------------------- */

#masthead-wrap {
	margin: 0 auto;
	max-width: 1040px;
}
.site-header .site-introduction {
	float: left;
	padding: 30px;
	min-height: 70px;
}
.site-title {
	font-size: 22px;
	font-size: 2.2rem;
	font-family: 'open_sansbold', sans-serif;
	line-height: 2.2;
}
.site-description {
	font-size: 14px;
	font-size: 1.4rem;
	line-height: 0;
}
.site-title a,
.site-description {
	color: #000;
}

.site-logo {
	float: left;
	padding: 40px 0 30px 30px;
	min-height: 70px;
}

.flex-caption-title { background-color: #49a7a4;}

/* =Menu
----------------------------------------------- */

.main-navigation
{
    float:left;
    width: 100%;
    height:auto;  
    min-height: 40px;
	clear: both;
	position: relative;
}
.main-navigation li > a:after { 
	content: '\f431';
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	font: normal 18px/1 'Genericons';
	vertical-align: top;
	padding-left: 4px;
	color: #CCC;
}
.main-navigation li > a:only-child:after { content: ''; }
.main-navigation.sticky{
    position: fixed;
    width: 1040px;
    height:auto;  
    top:0px; 
    z-index: 9999; 
}
.main-navigation.sticky-fullwidth{
    width: 100%!important;
}
.main-navigation select { display: none }
.main-navigation select {
    background: #3C4044;
    border: 1px solid #eee;
    cursor: pointer;
    padding: 10px 5px;
    margin: 30px auto;
    color: #676767;
    
}
.main-navigation ul {
    margin: 0px 0 0 0;
    padding: 0px 0;
	padding-left: 20px;
    list-style-type: none;
    float: left;
}
.main-navigation ul li:hover { visibility: inherit }
.main-navigation ul li {
    position: relative;
    display: inline;
    float: left;
    text-align: center;
  
}
.main-navigation > li > a, .main-navigation li.current_page_ancestor a {
	background-color: #49a7a4;
}
.main-navigation ul li a {
    color: #49a7a4;
    line-height: 20px;
    display: block;
    overflow: hidden;
    padding: 12px 20px 10px 20px;
    margin: 0;
	font-size: 1.4rem;
    font-size: 14px;
    text-decoration: none;
}
.main-navigation ul.sub-menu li:first-child > a{
    border-top:none!important;
}
.main-navigation ul li a span{
      color: #FFF;
      font-size: 10px;
      font-style: italic;
      text-transform: capitalize;
      display: block;
}
.main-navigation ul li a i{
    color:#FFF;
    margin-right: 10px;
}
.main-navigation ul ul li a:hover,#main-navigation ul ul li a:hover i, .main-navigation li.current-menu-parent ul.sub-menu li.current_page_item a   {  
	color: #49a7a4!important;
}
.main-navigation li:hover a{
    color: #FFF;
	background-color: #49a7a4;
}
.main-navigation li.current_page_item,  #main-navigation li.current-menu-parent{background: #49a7a4;}
.main-navigation li.current_page_item:hover a,#main-navigation li.current_page_item:hover{background: #49a7a4;} 
.main-navigation li.current-menu-parent:hover > a{background: #49a7a4!important;}
.main-navigation li.current-menu-parent ul.sub-menu li.current_page_item {background-color: #3C4044!important;}

.main-navigation ul ul {
    position: absolute;
    top: -9999em;
    width: 230px;
    z-index: 99999;
    background: #3C4044;
}
 
.main-navigation ul ul li a { text-transform: capitalize; }
.main-navigation ul ul li { width: 100% }
.main-navigation ul li:hover ul {
    left: 0;
    top:42px;
}
 
.main-navigation ul ul li:hover > ul.sub-menu {display: block;}
.main-navigation ul li:hover li ul { top: -9999em }
.main-navigation ul li li:hover ul {
    left: 230px;
    top: 0;
}
.main-navigation ul ul {
    padding: 0;
    margin: 0;
	margin-left: 1px;
}
 
.main-navigation ul ul li {
    float: left;
    line-height: 20px;
    font-size: 14px;
    border:none!important;    
}
.main-navigation ul ul li a {
    font-size: 12px;
    padding:12px 20px;
    text-transform: capitalize;
    margin: 0;
    line-height: 20px;
    color: #FFF!important;
    border-bottom: 1px solid #555;
    background: #3C4044!important;
    border-left:none;
    border-right:none;
    text-align: left;
    text-shadow:none;
     font-weight: 400;
     -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    -ms-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
}
.main-navigation ul ul li a i{ color: #9e9e9e!important;}
 
.main-navigation ul ul li:last-child a {border-bottom: none;border-right: none;}
.main-navigation ul ul li:last-child ul li a{border-bottom:1px solid #e8e8e8!important;}
.main-navigation ul ul li:last-child ul li:last-child a{border-bottom: none!important;}

.main-navigation li.current_page_item a {
	color: #FFF;
}
.main-navigation > li > a, .main-navigation li.current_page_ancestor a {
	color: #FFF;
}
 
.main-navigation{  background: #F0F0F0; color: #49a7a4;}
 
 
 .main-navigation ul ul {
    margin: 0;
}

/* Small menu */

.menu-toggle {
	background: url(images/menu.png) right no-repeat;
	text-indent: -9999px;
	padding: 4px;
	color: #FFF;
   	cursor: pointer;
	text-transform: uppercase;
    font-size: 1.4rem;
	font-size: 14px;
    font-weight: bold;
    text-align: left;
	background-color: #F0F0F0;
	margin: 0 0 0 0;
	margin-top: 4px;
}

.main-small-navigation .menu {
	display: none;
	background-color: #3C4044;
}
.main-small-navigation ul {
	margin: 0;
	text-align: center;
}

.main-small-navigation .menu ul {
	list-style-type:none;
	text-align: center;
	margin: 0;
}

.main-small-navigation .menu li a{
	color: #49a7a4;
	font-size: 1.4rem;
	padding: 4px 0;
	text-align: center;
	display: block;
	border-bottom: 1px solid #333;
	border-top: 1px solid #444;
	text-transform: uppercase;
}

.main-small-navigation .children{
	background-color: #3C4044;
}

.main-small-navigation li:hover > a,
.main-small-navigation li.current_page_item a,
.main-small-navigation li.current-menu-item a,
.main-small-navigation ul ul a:hover {
	background-color: #333;
}
.main-small-navigation .menu ul ul li a{
	text-transform: none;
}
.main-small-navigation ul.sub-menu a{
	text-transform: none;
}

.main-small-navigation .menu ul ul ul li a{
	text-transform: none;
}

/*Nav Search*/
.site-header .search-form {
	position: absolute;
	left: inherit;
	right: 0;
	top: 0;
	overflow: hidden;
}
.site-header .search-field {
	background-color: transparent;
	background-image: url(images/search.png);
	background-position: 5px center;
	background-repeat: no-repeat;
	background-size: 20px 20px;
	border: none;
	cursor: pointer;
	height: 30px;
	margin: 6px;
	padding: 0 0 0 38px;
	position: relative;
	-webkit-transition: width 400ms ease, background 400ms ease;
	transition:         width 400ms ease, background 400ms ease;
	width: 1px;
	color: #CCC;
}
.form,search-form label{
	color: #FFF;
}
.site-header .search-field:focus {
	background-color: #FFF;
	cursor: text;
	outline: 0;
	width: 180px;
	border-radius:0.2em;
	margin: 6px;
}
.search-form
.search-submit { 
	display:none;
}
.screen-reader-text { 
	display:none;
}

/* =Content
----------------------------------------------- */

.site-main {
	margin: 0 auto;
}

.sticky h1{
	border-bottom: 2px solid #333;
	font-size: 20px;
	font-size: 2.0rem;
}
.sticky h1 a{
	color: #FFF;
}
.sticky h2{
	font-size: 12px;
	font-size: 1.2rem;
	margin-bottom: 0;
	border-bottom: 2px solid #333;
}
.sticky h2 a{
	background-color: #333;
	color: #FFF;
	padding: 8px;
	border-radius:0.2em  0.2em 0 0;
	text-transform: uppercase;
}
.recent {
	margin: 0 4px 20px 4px;
}
.client_recent {
	margin: 0 4px 20px 4px;
	background-color: #FFF;
}
.recent_title{
	font-size: 14px;
	font-size: 1.4rem;
	font-family: 'open_sansbold', sans-serif;
	color: #666;
	padding: 4px 6px;
	margin: 0;
	text-align: center;
}
.recent_title a{
	color: #666;
}
.recent_title a:hover{
	color: #49a7a4;
}
.recent p{
	font-size: 12px;
	font-size: 1.2rem;
	margin-bottom: 0;
	color: #666;
	padding: 6px;
}
.hentry {
	margin: 0 0 1.5em;
	padding-bottom: 1.5em;
	clear: both;
}
#content .entry-header {
	background-color: #FFF;
	background-image: none;
	border: none;
	margin-bottom: 0;
}

.entry-header {
	background: #49a7a4;
	margin-bottom: 10px;
	border-bottom: 1px solid #E1E1E1;
	display: block;
	min-height: 70px;
}
.page-header {
	background: #49a7a4;
	margin-bottom: 10px;
	border-bottom: 1px solid #E1E1E1;
	display: block;
	min-height: 70px;
}
.entry-title,
.page-title {
	font-size: 16px;
    font-size: 1.6rem;
	margin: 0 0 0.2em;
	padding-top: 2px;
	color: #FFF;
}
.page-title {
	font-size: 16px;
    font-size: 1.6rem;
	padding: 20px 30px;
	margin: 0 auto;
	max-width: 1040px;
	float: left;
}
.entry-title {
	font-size: 14px;
    font-size: 1.4rem;
	text-decoration: none;
	color: #FFF;
	background: #49a7a4;
	padding: 8px;
	margin-top: -8px;
}
.entry-title a {
	text-decoration: none;
	color: #FFF;
}
.entry-title a:hover{
	color: #CCC;
}
.breadcrumbs {
	float: right;
	text-transform: none;
	font-size: 12px;
	padding: 12px 14px 0 10px;
	color: #FFF;
}
.breadcrumbs a{
	color: #E7E7E7;
}
.breadcrumbs a:hover{
	color: #333;
}
body.search .page-title,
body.archive .page-title {
  	font-size: 18px;
  	font-size: 1.8rem;
    margin-bottom: 0;
}
.entry-meta {
	clear: both;
	font-size: 10px;
	font-size: 1rem;
	padding: 4px;
	margin: 0 auto;
	max-width: 1040px;
	border-bottom: 1px solid #EFEFEF;
	text-transform: uppercase;
}
footer.entry-meta {
	border: none;
}
.entry-meta a {
	color: #3C4044;
}
.entry-meta a:hover {
	color: #999;
}
.entry-date {
	margin-right: 8px;
}
.entry-date:before {
	content: '\f303';
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	font: normal 18px/1 'Genericons';
	vertical-align: top;
	padding-right: 2px;
	color: #999;
}
.comments-link {
	margin-right: 8px;
}
.comments-link:before {
	content: '\f108';
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	font: normal 18px/1 'Genericons';
	vertical-align: top;
	padding-right: 6px;
	color: #999;
}
.edit-link {
	margin-right: 8px;
}
.edit-link:before {
	content: '\f411';
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	font: normal 18px/1 'Genericons';
	vertical-align: top;
	padding-right: 2px;
	color: #999;
}
.tag-links {
	margin-right:8px;
}
.tag-links:before {
	content: '\f302';
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	font: normal 18px/1 'Genericons';
	vertical-align: top;
	color: #999;
}
.cat-links {
	margin-right: 8px;
}
.cat-links:before {
	content: '\f443';
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	font: normal 18px/1 'Genericons';
	vertical-align: top;
	color: #999;
}
.byline {
	margin-right: 8px;
}
.byline:before {
	content: '\f304';
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	font: normal 18px/1 'Genericons';
	vertical-align: top;
	color: #999;
}
.entry-content,
.entry-summary {
	margin: 0.8em 0 0;
}
.entry-content table,
.comment-content table {
	border: 1px solid #d9d9d9;
	border-left-width: 0;
	margin: 0 -0.083em 2.083em 0;
	text-align: left;
	width: 100%;
}
.entry-content tr th,
.entry-content thead th,
.comment-content tr th,
.comment-content thead th {
	border-left: 1px solid #d9d9d9;
	font-weight: bold;
	padding: 0.5em 	1.25em;
}
.entry-content tr td,
.comment-content tr td {
	border: 1px solid #d9d9d9;
  	border-width: 1px 0 0 1px;
	padding: 0.5em 	1.25em;
}
.entry-content tr.odd td,
.comment-content tr.odd td {
	background: #dfd6c7;
}
.entry-content ul li {
	list-style-type: square;
	list-style-position: outside;
	margin-left: 1em;
}
.entry-content ol {
	list-style: decimal;
	margin: 0 0 1.5em 1.5em;
}
.entry-content a, .entry-content a:visited, .entry-summary a, .entry-summary a:visited{
    color: #49a7a4;
}
.entry-content a:hover, .entry-summary a:hover{
    color: #666;
}
.entry-content a.more-link, .entry-content a.more-link:visited{
    color: #FFF;
}
.entry-content h1, .entry-content h2, .entry-content h3, .entry-content h4, .entry-content h5, .entry-content h6 {
	clear: none;
}
.entry-content dfn, cite, em, i {
	font-style: italic;
}
.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/* =Aside Post Format
----------------------------------------------- */

.format-aside .entry-content {
	border-left: 4px solid rgba( 0, 0, 0, 0.1 );
	padding-left: 1em;
}


/* =Media
---------------------------------------------- */


.site-header img,
.entry-content img,
.comment-content img,
.widget img {
	max-width: 100%; /* Fluid images for posts, comments, and widgets */
}
.site-header img,
.entry-content img,
.widget-img,
img[class*="align"],
img[class*="wp-image-"],

.wp-caption img {
	height: auto; /* Make sure images with WordPress-added height and width attributes are scaled correctly */
}
.site-header img,
.entry-content img,
.widget img,
img.size-full {
	max-width: 100%;
	width: auto; /* Prevent stretching of full-size images with height and width attributes in IE8 */
}
.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}
.wp-caption {
	border: 1px solid #ccc;
	max-width: 100%;
}
.wp-caption.aligncenter,
.wp-caption.alignleft,
.wp-caption.alignright,
.wp-caption.alignnone {
	margin-bottom: 1.5em;
}
.wp-caption img {
	display: block;
	margin: 1.2% auto 0;
	max-width: 98%;
}
.wp-caption-text {
	text-align: center;
}
.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}
#content .gallery {
	margin-bottom: 1.5em;
}
.wp-caption-text,

.gallery-caption {
	font-size: 12px;
	font-size: 1.2rem;
}
#content .gallery a img {
	border: none;
	height: auto;
	max-width: 90%;
}
#content .gallery dd {
	margin: 0;
}

/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object {
	max-width: 100%;
}

/* =Navigation
----------------------------------------------- */

.site-content .site-navigation {
	font-size: 13px;
	font-size: 1.3rem;
	margin: 0 0 1.5em;
	overflow: hidden;
}
.site-content .nav-previous {
	float: left;
	width: 50%;
}
.site-content .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}
.nav-previous a, .nav-next a {
	padding: 4px 6px;
	color: #222;
	font-size: 12px;
	font-size: 1.2rem;
	text-transform: uppercase;
}
.nav-previous a:hover, .nav-next a:hover {
	color: #999;

}


/* =Comments
----------------------------------------------- */

#comments {
	clear: both;
}
.bypostauthor {
}
.comments-title,
#reply-title {
	font-size: 16px;
	font-size: 1.6rem;
	
}
.commentlist li {
	list-style: none;
}

.commentlist,
.children {
	list-style: none;
	margin: 0;
}
.children {
	margin: 0;
	background-color: #EFEFEF;
	padding: 0;
}
.commentlist li.comment,
.commentlist li.pingback {
	margin-top: 2px;
}
.commentlist .children li,
.commentlist li:last-of-type {
	border: none;
}

article.comment,

li.pingback {
	overflow: hidden;
	padding: 2.5em 0 0.7em;
    position: relative;
}
.children article.comment,
.children li.pingback {
	padding-top: 1.0em;
}
.comment .avatar {
	float: left;
	margin-right: 1.25em;
	border-radius: 0.4em;
}
.comment-author {
	font-size: 16px;
	font-size: 1.6rem;
	color: #333;
}
.comment-meta {
	font-size: 12px;
	font-size: 1.2rem;
}
.comment-content{
	font-size: 13px;
	font-size: 1.3rem;
	margin: 1em 0 0 4.5em;
}
.reply { 
	float:right;
	margin:0 10px 10px 0;
	text-align:center;
	background-color:  #3C4044;
	border-radius:0.4em;
	padding:3px;
	width:50px;
}
.reply:hover { 
	background-color:  #222;
}
.comment article {
	padding-bottom:2.79rem;
	border-bottom: 1px solid rgba( 0, 0, 0, 0.2 );
}

a.comment-reply-link,
a.comment-edit-link {
	color: #CCC;
	font-size: 12px;
	font-size: 1.2rem;
	line-height: 1.8;
	text-decoration:none;
}
a.comment-reply-link {
	color: #FFF;
}

a.comment-reply-link:hover,
a.comment-edit-link:hover {
	color: #FFF;
}
li.pingback {
	font-weight: bold;
}
li.pingback a {
	font-weight: normal;
}

/* Comment Form */
.comment-notes,
#commentform .form-allowed-tags,
p.nocomments,
p.logged-in-as,
#commentform label {
	font-size: 13px;
	font-size: 1.3rem;
}
.required {
	color: #880000;
}
#commentform label {
	font-weight: bold;
	padding: 1em 0;
}
#commentform input[type="text"] {
	margin-left: 0.5em;
}
#commentform #comment {
	margin-top: 0.6em;
}
#commentform .form-allowed-tags,
#commentform .form-allowed-tags code {
	font-size: 11px;
	font-size: 1.1rem;
}
p.nocomments {
	margin: 2.5em;
}

/* =Widgets
----------------------------------------------- */

.widget {
	font-size: 12px;
	font-size: 1.2rem;
	line-height: 1.8;
	margin: 0 0 0.5em;
}

.widget-title {
	color: #666;
	font-size: 13px;
	font-size: 1.3rem;
	font-family: 'open_sansbold', sans-serif;
	padding: 2px 6px;
	border-bottom: 1px solid #EFEFEF;
	text-transform: uppercase;
}

/* Search widget */

#searchsubmit {
	display: none;
}

#helpfullinks li{
	padding-bottom: 5px;
	padding-top: 5px;
	border-bottom: 1px solid #EFEFEF;
	color: #999;
}

#helpfullinks li a{
	color: #999;
}
#helpfullinks li a:hover{
	color: #333;
}

/* =Site Footer
----------------------------------------------- */

.site-info {
	font-size: 13px;
	font-size: 1.3rem;
	padding: 1.2em 0;
	text-align: center;
	color: #808080;
	background-color: #333;
	border-top: 1px solid  #444;
	font-weight: 400;
}
.site-info a{
	color: #AAA;
}
.site-info a:hover{
	color: #FFF;
}
.site-footer .widget p{
	color: #AAA;
}
.site-footer .widget{
	padding: 8px;
}
#smoothup { 
	height: 40px; 
	width: 50px; 
	position:fixed;
	bottom:10px;
	right:20px;
	text-indent:-9999px;
	display:none;
	background: #000 url(images/top_button.png) no-repeat center; 
	-webkit-transition-duration: 0.4s; 
	-moz-transition-duration: 0.4s; transition-duration: 0.4s; 
	border-radius: 0.2em;
}

#smoothup:hover {
	background-color: #10b9b9;
}

/* Open Sans
This Font Software is licensed under the Apache License v2.00
More info available with at http://www.apache.org/licenses/
-------------------------------------------------------------- */

@font-face {
    font-family: 'open_sansregular';
    src: url('font/opensans-regular-webfont.eot');
    src: url('font/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/opensans-regular-webfont.woff') format('woff'),
         url('font/opensans-regular-webfont.ttf') format('truetype'),
         url('font/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansbold';
    src: url('font/opensans-bold-webfont.eot');
    src: url('font/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/opensans-bold-webfont.woff') format('woff'),
         url('font/opensans-bold-webfont.ttf') format('truetype'),
         url('font/opensans-bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* =Genericons
 * Genericons are vector icons embedded in a webfont designed to be clean and simple 
 * keeping with a generic aesthetic.
 * More info at http://genericons.com/
-------------------------------------------------------------- */

/**
 * The font was graciously generated by Font Squirrel (http://www.fontsquirrel.com)
 */
@font-face {
    font-family: 'Genericons';
    src: url('font/genericons-regular-webfont.eot');
    src: url('font/genericons-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/genericons-regular-webfont.woff') format('woff'),
         url('font/genericons-regular-webfont.ttf') format('truetype'),
         url('font/genericons-regular-webfont.svg#genericonsregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.genericon, .genericon:visited {
	color: #FFF;
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	font-size: 14px;
	font-size: 1.4rem;
	line-height: 1;
	font-family: 'Genericons';
	text-decoration: inherit;
	font-weight: normal;
	font-style: normal;
	vertical-align: middle;
}
.genericon:hover {
	color: #49a7a4;
}

/**
 * IE7 and IE6 hacks
 */


.genericon {
	*overflow: auto;
	*zoom: 1;
	*display: inline;
}


/* Social icons */
.genericon-github:before { content: '\f200'; }
.genericon-dribbble:before { content: '\f201'; }
.genericon-twitter:before { content: '\f202'; }
.genericon-facebook-alt:before { content: '\f204'; }
.genericon-googleplus:before { content: '\f206'; }
.genericon-linkedin:before { content: '\f207'; }
.genericon-pinterest:before { content: '\f209'; }
.genericon-flickr:before { content: '\f211'; }
.genericon-vimeo:before { content: '\f212'; }
.genericon-youtube:before { content: '\f213'; }
.genericon-tumblr:before { content: '\f214'; }
.genericon-instagram:before { content: '\f215'; }
.genericon-link:before { content: '\f107'; }

/* Social Media icons
------------------------------------------------------ */
.social-media {
	list-style: none;
	text-align: right;
}
.social-media li {
	float: right;
	position: relative;
	margin: 2px 0 0 4px;
	border-radius: .2em;
	background-color: #49a7a4;
	border: 1px solid #FFF;
}
.social-media li:hover {
	background-color: #FFF;
	border: 1px solid #49a7a4;
}

.social-media a {
	padding: 6px;
}
.social-media a:hover {
	
}

/* Tag Cloud
------------------------------------------------------ */
.tagcloud a {
	display: inline-block;
	color: #FFF;
	font-size: 12px !important;
	font-family: 'Roboto', sans-serif;
	padding: 5px 8px;
	text-decoration: none;
	background: #49a7a4;
	border: 1px solid #49a7a4;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	transition: all 0.17s ease-in-out;
	-moz-transition: all 0.17s ease-in-out;
	-webkit-transition: all 0.17s ease-in-out;
	-o-transition: all 0.17s ease-in-out;
	margin: 4px;
}
.tagcloud a:hover {
	color: #fff !important;
	background: #3C4044;
}

/* Custom Home featured areas
------------------------------------------------------ */
#featuretext_container{
	padding: 30px 0;
	float: left;
	width: 100%;
	position: relative;
	background: #F4F4F4;
	border-bottom: 1px solid #EFEFEF;
}
.featuretext_left {
	padding: 22px 0;
	margin: 0;
	float: left;
	width: 80%;
}
.featuretext_left h2{
	color: #666;
	padding: 0 20px 0 28px;
	margin: 0;
	font-size:1.8rem;
	font-size:18px;
	font-family: 'open_sansbold', sans-serif;
}
.featuretext_left p{
	color: #FFF;
	padding-left: 20px;
	margin: 0;
	font-size:1.6rem;
	font-size:16px;
}
.featuretext_right {
	margin: 0;
	float: left;
	color: #FFF;
	padding: 24px 0;
}
.featuretext_right a{
	color: #FFF;
	padding: 12px 26px;
	background-color:#49a7a4;
	border-radius: 0.2em;
	font-size:1.4rem;
	font-size:14px;
	font-family: 'open_sansbold', sans-serif;
	margin-right:20px;
	text-align: center;
	width: 120px;
}
.featuretext_right a:hover{
	background-color:#3C4044;
}
.featuretext_middle {
	margin: 0;
	text-align: center;
}

.featuretext_middle h3{
	font-size: 1.6rem;
	font-size: 16px;
	font-family: 'open_sansbold', sans-serif;
	position: relative;
	top: 8px;
	margin: 0 auto;
	max-width: 120px;
	background: #FFF;
	text-align: center;
	line-height: 16px;
	text-align: center;
	text-transform: uppercase;
	color: #666;
	-webkit-text-shadow: 0px 1px 0px rgba( 255, 255, 255, 0.75 );
	-moz-text-shadow: 0px 1px 0px rgba( 255, 255, 255, 0.75 );
	text-shadow: 0px 1px 0px rgba( 255, 255, 255, 0.75 );
}

.featuretext {
	padding: 10px;
	background-color: #F4F4F4;
	border-radius: 0.4em;
	margin: 8px;
	border: 1px solid #EFEFEF;
	border-bottom: 6px solid #EFEFEF;
}

.featuretext h4{
	font-size:1.4rem;
	font-size:14px;
	font-family: 'open_sansbold', sans-serif;
	color: #3C4044;
	margin: 0;
	clear: none;
	margin-bottom: 15px;
	border: 0;
	text-transform: none;
}

.featuretext h4 a:hover{
	color: #49a7a4;
}

.featuretext p{
	color: #999;
	font-size:1.2rem;
	font-size: 12px;
	clear: both;
}
.featuretext img{
	-webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
     
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
     
    overflow:hidden;
 
    }  
.featuretext img:hover{
	-webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -o-transform:rotate(360deg);
}
.view {
   width: 96%;
   height: 100%;
   overflow: hidden;
   position: relative;
   text-align: center;
   cursor: default;
   border: 5px solid #fff;
	-webkit-box-shadow: 0px 0px 1px rgba( 0, 0, 0, 0.2 );
	-moz-box-shadow: 0px 0px 1px rgba( 0, 0, 0, 0.2 );
	box-shadow: 0px 0px 1px rgba( 0, 0, 0, 0.2 );
	-webkit-border-radius: 0.2em;
	-moz-border-radius: 0.2em;
	border-radius: 0.2em;

}

.view .mask, .view .content {
   width: 100%;
   height: 100%;
   position: absolute;
   overflow: hidden;
   top: 0;
   left: 0;
}

.view img {
   display: block;
   position: relative;
}

.view a.info {
   background:url(images/link-icon-recent.png) center no-repeat;
   display: inline-block;
   text-decoration: none;
   padding:0;
   text-indent:-9999px;
   width:32px;
   height: 100%;
}

.third-effect .mask {
   opacity: 0;
   overflow:visible;
   background: rgba(0,0,0,0.7);
   box-sizing:border-box;
   transition: all 0.2s ease-in-out;
}

.third-effect a.info {
   position:relative;
   opacity: 0;
   transition: opacity 0.5s 0s ease-in-out;
}

.third-effect:hover .mask {
   opacity: 1;
   
   background: rgba(0,0,0,0.4);
}
.imagerct {
	width: 100%;
}

.third-effect:hover a.info {
   opacity:1;
   transition-delay: 0.2s;
}

/* Client Ad Styles */

.client {
	text-align: center;
}
	
.client h3{
	font-size: 1.6rem;
	font-size: 16px;
	font-family: 'open_sansbold', sans-serif;
	position: relative;
	top: 8px;
	margin: 0 auto;
	max-width: 120px;
	background: #FFF;
	text-align: center;
	line-height: 16px;
	text-align: center;
	text-transform: uppercase;
	color: #666;
	-webkit-text-shadow: 0px 1px 0px rgba( 255, 255, 255, 0.75 );
	-moz-text-shadow: 0px 1px 0px rgba( 255, 255, 255, 0.75 );
	text-shadow: 0px 1px 0px rgba( 255, 255, 255, 0.75 );
}

.client img{
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
	max-width: 100%;
}
.client img:hover{
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(0%);
}
			
/*  SECTIONS  ============================================================================= */

.section {
	clear: both;
	margin: 0 auto;
	max-width: 1040px;
}
.section_thumbnails {
	clear: both;
	background: #F4F4F4;
	padding: 40px 20px;
}
.section_clients {
	clear: both;
	background-color:#FFF;
	padding: 40px 20px;
}
.section_services {
	clear: both;
	background-color:#FFF;
	padding: 40px 20px;
	border-top: 1px solid #EFEFEF;
	border-bottom: 1px solid #EFEFEF;
}
.section_thumbnails .col{
	margin: 0px;
}
.section_clients .col{
	margin: 0px;
}
.section_services .col{
	margin: 0px;
}
.section_thumbnails h3{
	font-size: 1.6rem;
	font-size: 16px;
	font-family: 'open_sansbold', sans-serif;
	position: relative;
	top: 8px;
	margin: 0 auto;
	max-width: 160px;
	background: #F4F4F4;
	text-align: center;
	line-height: 16px;
	text-align: center;
	text-transform: uppercase;
	color: #666;
	-webkit-text-shadow: 0px 1px 0px rgba( 255, 255, 255, 0.75 );
	-moz-text-shadow: 0px 1px 0px rgba( 255, 255, 255, 0.75 );
	text-shadow: 0px 1px 0px rgba( 255, 255, 255, 0.75 );
}
.unity-separator {
	width: 100%;
	height: 1px;
	background: #d9e0e3;
	-webkit-box-shadow: 0px 1px 0px rgba( 255, 255, 255, 0.75 );
	-moz-box-shadow: 0px 1px 0px rgba( 255, 255, 255, 0.75 );
	box-shadow: 0px 1px 0px rgba( 255, 255, 255, 0.75 );
	margin-bottom: 30px;
}
.thumbs-more-link{
	font-size: 12px;
	font-size: 1.2rem;
	text-transform: uppercase;
	padding: 8px;
	text-align: left;
}

.thumbs-more-link a{
	background-color: #3C4044;
	color: #FFF;
	border-radius: 0.2em;
	padding: 2px 4px;
}
.thumbs-more-link a:hover{
	background-color: #49a7a4;
	color: #FFF;
	border-radius: 0.2em;
}

/*  GROUPING  ============================================================================= */


.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
}

/*  GRID COLUMN SETUP   ==================================================================== */

.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}

.col:first-child { margin-left: 0; } /* all browsers except IE6 and lower */

.post-thumbnail {
	position: relative;
	margin-top: 4px;
	margin-right: 4px;
}

.blog-lists-title {
	position: relative;
	width: 70%;
	display: inline;
	float: left;
	margin-left: 8px;
	font-size: 12px;
	color: #999;
}

.blog-lists-title a{
	color: #333;
}

/* =IE Styles
----------------------------------------------- */

#ie8 .site-header img,
#ie8 .entry-content img,
#ie8 img.size-full,
#ie8 .entry-thumbnail img,
#ie8 .widget img,
#ie8 .wp-caption img {
	width: auto; /* Prevent stretching of full-size images with height and width attributes in IE8 */
}

/*  GRID OF FOUR   ============================================================================= */

	
.span_4_of_4 {
	width: 100%; 
}

.span_3_of_4 {
	width: 74.6%; 
}

.span_2_of_4 {
	width: 49.2%; 
}

.span_1_of_4 {
	width: 25%; 
}

/*  GRID OF THREE   ============================================================================= */
	
.span_3_of_3 {
	width: 100%; 
}
.span_2_of_3 {
	width: 66.1%; 
}
.span_1_of_3 {
	width: 32.2%; 
}
.home_span_1_of_3 {
	width: 33.3%; 
}
/*  GRID OF TWO   ============================================================================= */


.span_2_of_2 {
	width: 100%;
}

.span_1_of_2 {
	width: 49.8%;
}

/*  GRID OF EIGHT   ============================================================================= */
	
.span_8_of_8 {
	width: 100%;
}
.span_7_of_8 {
	width: 87.3%; 
}
.span_6_of_8 {
	width: 74.6%; 
}
.span_5_of_8 {
	width: 61.9%; 
}
.span_4_of_8 {
	width: 49.2%; 
}
.span_3_of_8 {
	width: 36.5%;
}
.span_2_of_8 {
	width: 23.8%; 
}
.span_1_of_8 {
	width: 11.1%; 
}

.header-image img {
	width: 100%;
	height: auto;
	margin-bottom: -6px;
}

/************************************************************************************
MEDIA QUERIES
*************************************************************************************/
/* for 1000px or less */
@media screen and (max-width: 1000px) {
	.header_container {
	height: 100%;
	width: 100%;
}
}

/* for 980px or less */
@media screen and (max-width: 980px) {
	
	#wrap {
		padding:0;
		width: 100%; 	
	}
	.header_container {
	height: 100%;
	width: 100%;
	}
	#content {
		padding-left:4px; 	
	}
	
}

/* for 860px or less */
@media only screen and (max-width: 860px) {
	.header_container {
	height: 100%;
	width: 100%;
	}
	#featuretext_container {
	padding: 0;
	} 
	.featuretext_left {
	width: 100%;
	clear: both;
	text-align: center;
	}
	.featuretext_left h2{
	padding: 10px;
	}
	.featuretext_right {
	text-align: center;
	float: none;
	}
	.featuretext_right a{
	padding: 6px 14px;
	margin: 0;
	}
	#primary_wrap {
	padding: 0 4px;
	}
	#content.fullwidth {
	padding: 10px 4px;
	}
}

/* for 800px or less */
@media only screen and (max-width: 800px) {

	#content,
	#primary,
	#secondary,
	#tertiary,
	#sidebar-left {
		background: none;
		float: none;
		margin: 0;
		padding: 0;
	}
	#primary,
	#secondary,
	#tertiary,
	#sidebar-left {
		width: 100%;
	}
	#content-right,
	#primary-right {
		background: none;
		float: none;
		margin: 0;
		padding: 0;
	}
	#primary-right{
		width: 100%;
	}
	#primary-right {
		border-top: 0;
	}
	.page-title {
	text-align: center;
	padding: 10px;
	float: none;
	clear: both;
	}
	.breadcrumbs {
	text-align: center;
	padding: 0;
	width: 99.8%;
	font-size: 10px;
	}
}

/* span of 4 for 800px or less */
@media only screen and (max-width: 800px) {
	.span_4_of_4 {
		width: 49.6%; 
	}
	.span_3_of_4 {
		width: 49.6%; 
	}
	.span_2_of_4 {
		width: 49.6%; 
	}
	.span_1_of_4 {
		width: 49.6%;
	}
}

/* for 600px or less */
@media screen and (max-width: 600px) {
	
	#branding img {
		display: none;
	}
	
	.header-image {
		width:100%;
		margin-top: 0px;
		margin-left: auto;
    	margin-right: auto;
	}

	.header_container {
	height: 100%;
	width: 100%;
	}

	.site-main {
    border: 0;
	}
	.hentry {
	border-bottom: none;
	}
	.col {
	margin: 0;
	}
	.span_1_of_4 {
	width: 99.5%;
	}
}

/*  span of 3 for 600px */

@media only screen and (max-width: 600px) {
	.span_3_of_3 {
		width: 99.5%; 
	}
	.span_2_of_3 {
		width: 99.5%; 
	}
	.span_1_of_3 {
		width: 99.5%;
	}
	.home_span_1_of_3 {
		width: 99.5%;
	}
}

/* --- IPhone5 (portrait and landscape) --- */

@media screen and (max-width : 568px) {

	.header_container {
	height: 100%;
	width: 100%;
	}
}

/* --- Smartphones (portrait and landscape) --- */

@media screen and (max-width : 480px) {
	
	.header_container {
	height: 100%;
	width: 100%;
	}
	
	.site-logo {
	height: 100%;
	width: 100%;
	text-align: center;
	padding: 20px 0 0 0;
	}
	
	.site-header .site-introduction {
	height: 100%;
	width: 100%;
	text-align: center;
	padding: 10px 0;
	}
	
	#topbar_container {
	height: 100%;
	width: 100%;
	padding: 0;
	}
	.topbar {
	padding-top: 6px;
	clear: both;
	}
	.topbar_content_left {
	width: 42%;
	float: left;
	padding-left: 8px;
	text-align: left;
	}
	.topbar_content_right {
	width: 49%;
	float: right;
	}
	.site-header .search-form {
	display: none;
}
}

/*  col AT 480 PIXELS */

@media only screen and (max-width: 480px) {
	.col { 
		margin: 1% 0 1% 0%;
	}
}


/* span of 2 for 480px */

@media only screen and (max-width: 480px) {
	.span_2_of_2 {
		width: 100%; 
	}
	.span_1_of_2 {
		width: 100%; 
	}
}

/*  span of 3 for 480px */

@media only screen and (max-width: 480px) {
	.span_3_of_3 {
		width: 100%; 
	}
	.span_2_of_3 {
		width: 100%; 
	}
	.span_1_of_3 {
		width: 100%;
	}
	.home_span_1_of_3 {
		width: 100%;
	}
}

/*  span of 4 for 480px */

@media only screen and (max-width: 480px) {
	.span_4_of_4 {
		width: 100%; 
	}
	.span_3_of_4 {
		width: 100%; 
	}
	.span_2_of_4 {
		width: 100%; 
	}
	.span_1_of_4 {
		width: 100%; 
	}
}

/*  span of 8 for 480px */

@media only screen and (max-width: 480px) {
	.span_8_of_8 {
		width: 100%; 
	}
	.span_7_of_8 {
		width: 100%; 
	}
	.span_6_of_8 {
		width: 100%; 
	}
	.span_5_of_8 {
		width: 100%; 
	}
	.span_4_of_8 {
		width: 100%; 
	}
	.span_3_of_8 {
		width: 100%; 
	}
	.span_2_of_8 {
		width: 100%; 
	}
	.span_1_of_8 {
		width: 100%; 
	}
	.featuretext_top {
	padding: 40px 0;
	margin: 0 0 20px 0;
	background-color: #E7E7E7;
	}
	.featuretext_top h3{
	font-size:1.2rem;
	font-size:12px;
	padding: 6px;
	}
	.featuretext_top p{
	font-size:1.2rem;
	font-size:12px;
	padding: 6px;
	}
}